{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="flex flex-col mt-3 md:flex-row items-center justify-between p-10 bg-gray-100">
    <div class="md:w-1/2 text-center md:text-left space-y-6">
        <h2 class="text-4xl ">WELCOME TO <span class="text-black">CROSSFIT</span></h2>
        <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit
            amet sollicitudin.</p>
        <a href="#"
            class="inline-block border border-black px-6 py-2 mt-4 rounded-lg font-medium hover:bg-black hover:text-white transition">READ
            MORE</a>
    </div>
    <div class="md:w-1/2 mt-10 md:mt-0">
        <img src="{% static 'images/crossfit-banner.png' %}" alt="Crossfit Banner" class="w-full max-w-md mx-auto">
    </div>
</section>
{% endblock %}