.hero-section {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
}

.hero-section {
    position: relative;
    height: 400px;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out;
    will-change: opacity;
}

.hero-content {
    position: relative;
    z-index: 10;
    max-width: 800px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    max-width: 600px;
    margin-inline: auto;
}

.hero-btn {
    padding: 0.8rem 1.8rem;
    background-color: #0f2020;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #0f2027;
}

.category-section {
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.category-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

/* FLEX Layout instead of Grid */
.category-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
}