.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background: #2222;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navlinks {
    display: flex;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
}

.link-item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(11, 12, 12);

}

.link-item a:hover {
    color: rgb(91, 109, 114);
    text-decoration: underline;

}